<!doctype html>
<html>
       <head>
              <meta charset="utf-8">
              <title>Head First HTML and CSS</title>
       </head>
       <body>
              <h1>Head First HTML and CSS</h1>
              <ul>
                 <li><a href="lounge/lounge.html">Head First Lounge</a></li>
                 <li><a href="journal/journal.html">Tony's Journal</a></li>
                 <li><a href="mypod/index.html">mypod</a></li>
                 <li><a href="starbuzz/index.html">starbuzz</a></li>
              </ul>
       </body>
</html>
